.sidebar {
	margin: 0 auto;
	h1 {
		margin-left: 0;
	}
}
.col-1-5 {
	padding: 20px;
}
.text {
	position:absolute;
	z-index: 1;
	width: 100%;
	margin-left: 10%;
	h1 {
		font-size: 3.5rem;
		font-weight: 600;
		margin: 0;
	}
	.fa {
		margin-right: 8px;
	}
	.rating h3 {
		margin-left: 20px;
	}
}