body {
  font-family: 'Arial', sans-serif; }

.text {
  position: absolute;
  z-index: 1; }

.site-container {
  height: 100vh; }

.flex {
  display: flex; }

.text-align-c {
  text-align: center; }

[class*='col-'] {
  padding-right: 20px; }

[class*='col-']:last-of-type {
  padding-right: 0; }

.col-1-1 {
  width: 100%; }

.col-1-2 {
  width: 50%; }

.col-1-3 {
  width: 33.33%; }

.col-1-4 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6 {
  width: 16.66%; }

.col-1-7 {
  width: 14.2%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.11%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.091%; }

.col-1-12 {
  width: 8.33%; }

.col-2-3 {
  width: 66.66%; }

.col-3-4 {
  width: 75%; }

.col-3-5 {
  width: 60%; }

.col-2-5 {
  width: 40%; }

.col-4-5 {
  width: 80%; }

.col-5-6 {
  width: 83.33%; }

.col-3-7 {
  width: 43%; }

.col-4-7 {
  width: 57%; }

.col-5-8 {
  width: 62.5%; }

.col-3-8 {
  width: 37.5%; }

.col-2-9 {
  width: 22.2%; }

.col-7-9 {
  width: 77.8%; }

.col-3-10 {
  width: 30%; }

.col-7-10 {
  width: 70%; }

.col-5-11 {
  width: 45%; }

.col-6-11 {
  width: 55%; }

.col-11-12 {
  width: 91.67%; }

.site-container {
  background-color: #141414; }

.sidebar {
  background-color: #f3f3f3; }

.login {
  background-color: #141414; }

h1 {
  margin-left: 50px; }
  h1 span {
    color: #de1212;
    font-size: 2.2rem; }

.login {
  background: url(../thecrown.jpg) no-repeat;
  max-width: 100%;
  height: auto;
  background-size: cover; }

form {
  width: 25%;
  margin: 0 auto;
  padding: 50px;
  margin-top: 160px; }
  form h2 {
    color: white; }
  form input {
    display: block;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    border: 2px solid white;
    color: white; }
  form input:focus {
    background-color: white;
    color: #141414; }
  form input:hover {
    cursor: pointer; }
  form button {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid #de1212;
    background-color: transparent;
    color: white;
    cursor: pointer; }
  form button:hover {
    color: white;
    background-color: #de1212; }

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: white; }

input:-ms-input-placeholder {
  /* IE 10+ */
  color: white; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: white; }

input:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #141414; }

input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: #141414; }

input:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: #141414; }

input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: #141414; }

.sidebar {
  margin: 0 auto; }
  .sidebar h1 {
    margin-left: 0; }

.col-1-5 {
  padding: 20px; }

.youtube-player {
  position: relative;
  /* Use 75% for 4:3 videos */
  height: 100%;
  overflow: hidden;
  max-width: 100%;
  background: #000; }

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent; }

.youtube-player img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: .4s all;
  -moz-transition: .4s all;
  transition: .4s all; }

.youtube-player img:hover {
  -webkit-filter: brightness(75%); }

.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("//i.imgur.com/TxzC70f.png") no-repeat;
  cursor: pointer;
  display: none; }

